---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="border-b-4 border-blue-400">
	<span class="inline-block text-white bg-blue-400 font-bold pl-6 pr-9 leading-9 rounded-e-2xl rounded-tl-3xl">{title}</div>
</div>
